[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Comment=The Drive to Develop
Exec=/usr/local/bin/idea
Icon=/opt/idea-IC-241.17011.79/bin/idea.png
Path=
Terminal=false
StartupNotify=false
